name: codespell

on:
  pull_request:
  push:
    branches: [main]

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
        continue-on-error: true
        with:
          ignore_words_file: .codespell-ignore.txt
          skip: "*/_build/*,*.dat"
