name: tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: 'pip'
        cache-dependency-path: requirements_ci.txt
    - name: Setup headless display
      uses: pyvista/setup-headless-display-action@v3
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements_ci.txt
    - name: Run tests and generate coverage report
      run: |
        coverage run --source=pterasoftware -m unittest discover -s tests
        coverage xml -o coverage.xml
    - name: Upload coverage report to Codecov
      if: ${{ github.event_name == 'push' }}
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        fail_ci_if_error: true
